<h1>Pokedex!</h1>

{{#each monsters as |pokemon|}}
  <section class="pokemon">

    <div class="pokemon-name">
      <a href="/pokemon/{{pokemon.name}}">
        <h3>{{pokemon.name}}</h3>
        <div class="pokemon-img">
          <img src="{{pokemon.img}}" alt="{{pokemon.name}} image">
        </div>
      </a>
    </div>

  </section>
  {{/each}}
