<!-- First task is to make a square -->
<div class="container homepage">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <img class="img-circle" src="assets/images/profile1Cropped.jpg"/>
    </div>
    <div class="col-lg-6">
      <h2>About Me</h2>
      <p>
        Hi, I'm Alex! </br>
        I'm a full-stack developer currently located in St. Louis,
        Missouri. I love making full-stack applications with javascript
        technologies in an organized and timely fashion.
        My goal is to obtain a developer position with emphasis on creation of applications geared
        towards presentation and analysis of biological phenomena. I'm
        a quick study and am open and more than willing to learn any new
        technology! I also like playing soccer and hiking... regarded
        the weather has no objections.
      </p>
    </div>
  </div>
</div>
