<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <h1>Alex Willenbrink's Website</h1>
      <ul class="nav navbar-nav">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="https://github.com/Alex-Willenbrink" target="_blank">Github</a></li>
        <li><a href="https://programmer53blog.wordpress.com/" target="_blank">Blog</a></li>
        <li><a href="https://www.linkedin.com/in/alex-willenbrink-707856104/" target="_blank">LinkedIn</a></li>
        <li><a href="/contact">Contact Me</a></li>
        <li><a id="house-box-anchor" href="/"><div id="house-box"></div></a></li>
      </ul>
    </div>
  </div>
</nav>
