body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #C33;
  text-decoration: none; }

.project {
  margin-bottom: 10px; }

.project-name {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none; }

.project-technology {
  display: inline-block;
  background-color: #FFC;
  padding: 1px 3px; }

 .section-title {
 	display: inline-block;
 	padding: 1px 3px;
 }

 .link {
 	display: inline-block;
 	padding: 1px 3px;
 }

 img {
 	width: 50%;
 }