<html>
  <link rel="stylesheet" href="style.css">

<h1>Hello what there{{name}}!</h1>

<h1>Hello and here too there{{name2}}!</h1>


<img src="http://i.imgur.com/BALObMM.gif"  style="width:360px;height:250px;" onClick="location.href='http://localhost:3000/jack'">

<img src="http://i.imgur.com/WrvvdgQ.gif"  style="width:360px;height:250px;" onClick="location.href='http://localhost:3000/ratscrew'">


</html>
