

<h1>Projects in my Portfolio</h1>
{{#each projectData as |projectData|}}
  <div class="projectData">
    <div class="project-name">
      <a href="./project/{{projectData.name}}">
        {{projectData.name}}
      </a>
    </div>

    <div class="project-gitHub">
      <a href="{{projectData.gitHub}}">
        {{projectData.gitHub}}
      </a>
    </div>

  </div>
{{/each}}
