
<h1><pre></pre>Elias Hantula Portfolio</pre></h1>
        {{#each projects as |project|}}

        <div class=row>
            <div class ="column">
            <div class = "content>">
                <h2><a href="/projects/{{project.name}}">{{project.name}}</a></h2><a href="{{project.github}}">Github</a>
               
               <img src ="{{project.image}}">
                
                
                </div>
            
            
            
            
            </div>
            
            </div>
    
    
    
 
    {{/each}}