<!DOCTYPE html>
<html>
  <head>

    {{> _head }}
    
  </head>
  <body>

    {{> _nav }}

    <div class="nav-pattern seigaiha"></div>

    {{{body}}}

  </body>

  <div class="gap-pattern seigaiha"></div>
  
</html>
