<!DOCTYPE html>
<html>
  <head>
    {{> _head }}
  </head>
  <body>
    <div class="nav-pattern seigaiha"></div>

    {{> _nav }}

    {{{body}}}

    <div class="gap-pattern seigaiha"></div>
  </body>
</html>
