

  <h1>
    {{project.name}}
  </h1>

  <h3>Technologies</h3>
    <ol>
      {{#each project.techs as |tech|}}
        <li> {{tech}} </li>
      {{/each}}
    </ol>

    <h3>{{project.link}}</h3>
    <img src={{project.img}} alt="">

    <hr>
