<!DOCTYPE html>
<html>
  <head>
    <title>{{project.name}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	{{project.name}}
  	{{project.description}}
  </body>
</html>
