<% include partials/header %>
<div class="project-container">
  <header>
    <h1><%= project.name %></h1>
  </header>

  <section class="project">

    <div class="project-img">
      <img src="../<%= project.img %>" alt="project image">
    </div>

    <div class="project-tech">
      <h3>Technologies:</h3>
      <ul class="tech-stack">
      <% project.tech.forEach( tech => { %> 
        <li class="tech">
          <%= tech  %>
        </li>
      <% }); %> 
      </ul>
    </div>

    <a href="<%= project.url %>"><img class="github-icon" src="/images/github-icon.svg"
    alt="github-icon"></a>

    <a href="/" class="back-btn">Back</a>

  </section>
</div>

<% include partials/footer %>
