@import url("https://fonts.googleapis.com/css?family=Open+Sans|Chivo");
@-ms-viewport {
  width: device-width; }

body {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fefefe;
  text-rendering: optimizeLegibility;
  padding-top: 50px; }

.nav-pattern {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%; }

.gap-pattern {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .05; }

.seigaiha {
  background-color: black;
  background-image: radial-gradient(circle at 100% 150%, black 24%, white 25%, white 28%, black 29%, black 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, black 24%, white 25%, white 28%, black 29%, black 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, black 11%, black 23%, white 24%, white 30%, black 31%, black 43%, white 44%, white 50%, black 51%, black 63%, white 64%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, black 6%, black 15%, white 16%, white 20%, black 21%, black 30%, white 31%, white 35%, black 36%, black 45%, white 46%, white 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white 5%, black 6%, black 15%, white 16%, white 20%, black 21%, black 30%, white 31%, white 35%, black 36%, black 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size: 100px 50px;
  z-index: -999; }

.container {
  width: 92%; }

.container-fluid {
  background-color: #fefefe; }

h1, h2, h3, h4 {
  margin: 0 0 15px 0;
  line-height: 1.25em; }

a.nav-link {
  font-family: Chivo, Arial, sans-serif;
  font-size: 0.9em;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out; }
  a.nav-link:hover, a.nav-link:active {
    color: #333; }

h3, h4 {
  font-weight: 600; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.spacer {
  margin-top: 15px; }

.spacer-lg {
  margin-top: 30px; }

@media screen and (max-width: 767px) {
  .spacer-responsive {
    margin-top: 30px; } }

span.avoid-wrap {
  display: inline-block; }

/* Top Navigation */
header#nav .navbar-fixed-top {
  border: 0; }

header#nav .navbar {
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.98; }

header#nav .navbar-nav li a {
  transition: color 0.1s ease-in-out; }
  header#nav .navbar-nav li a:active {
    color: #333; }

header#nav #logo {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #444;
  letter-spacing: 1px; }

header#nav .navbar-toggle {
  border: 0;
  margin-right: 7px; }
  header#nav .navbar-toggle:focus {
    background-color: #fefefe; }
  header#nav .navbar-toggle:hover, header#nav .navbar-toggle:not(.collapsed) {
    background-color: #ddd; }
  header#nav .navbar-toggle .icon-bar {
    background-color: #444; }

header#nav .navbar-right li a {
  height: 50px;
  line-height: 22px; }

header#nav li {
  font-family: Chivo, Arial, sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

@media screen and (max-width: 767px) {
  #nav .navbar-right li a {
    height: 42px;
    line-height: 22px; } }

/* Shared Index */
.index .project-container {
  position: relative;
  width: 100%;
  background-color: #fefefe;
  z-index: 1; }
  .index .project-container:hover .project-overlay {
    opacity: 0.9; }
  .index .project-container .project-overlay {
    position: absolute;
    opacity: 0;
    text-align: center;
    background: black;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity .25s ease-in-out; }
  .index .project-container .project-caption {
    color: white;
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-45%);
    padding: 10px 10px; }
  .index .project-container .project-name {
    font-size: 2em; }

/* Coding Index */
#code.index .project-tech {
  font-family: Chivo, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px; }

#code.index img {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  z-index: -1; }

/* Design Index */
#design.index .project-container .design-cover-container {
  width: 100%;
  object-fit: cover; }
  #design.index .project-container .design-cover-container img {
    width: 100%; }

/* Illustration Index */
#illo.index .project-container .illo-cover-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1; }

/* Shared Project */
.project .project-item-header {
  font-family: Chivo, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0; }

.project .project-blurb {
  color: #eee;
  background-color: #555;
  padding: 40px 0 30px 0; }

.project p {
  margin-bottom: 20px;
  line-height: 1.5em; }

.project .project-details {
  color: #666;
  font-size: 0.9em; }
  .project .project-details .detail {
    border-top: 1px solid #ddd;
    padding: 45px 0;
    background-color: #fefefe; }
  .project .project-details img {
    width: 100%;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2); }
  .project .project-details .project-image-container {
    width: 100%;
    padding: 30px 30px;
    background-color: #f5f5f5; }
    @media screen and (max-width: 768px) {
      .project .project-details .project-image-container {
        padding: 0; } }
  .project .project-details ul {
    list-style-type: none;
    text-indent: -10px;
    padding: 0;
    margin: 20px 0; }
    .project .project-details ul li:before {
      content: "-";
      margin-right: 5px; }
    .project .project-details ul li {
      padding: 5px 0; }

.project .back-container {
  text-align: center; }

/* Code Project */
#code-project .project-source {
  color: #9ddbe8; }

#code-project .project-host {
  color: #e1b3f7; }

#code-project .project-tech {
  color: #bdf397; }

#code-project .technical ul {
  margin: 0; }

/* Design Project */
#design-project .project-blurb {
  padding: 60px 0 50px 0;
  text-align: center; }

#design-project .project-item-header {
  letter-spacing: 1.5px; }

#design-project .project-details img {
  box-shadow: none; }

#design-project .flex-wrap {
  display: flex;
  flex-wrap: wrap; }

/* Illustration Project */
#illo-project .project-blurb {
  color: #555;
  background-color: inherit;
  padding: 60px 0 60px 0; }
