@import url("https://fonts.googleapis.com/css?family=Open+Sans|Chivo|Source+Code+Pro");
body {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fefefe;
  text-rendering: optimizeLegibility; }

.container {
  width: 92%; }

.container-fluid {
  padding: 0; }

h1, h2, h3, h4 {
  margin: 0 0 15px 0;
  line-height: 1.25em; }

a.nav-link {
  font-family: "Chivo", Arial, sans-serif;
  font-size: 0.9em;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out; }
  a.nav-link:hover {
    color: #333; }

h3, h4 {
  font-weight: 600; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

main {
  margin-top: 76px; }

.spacer {
  margin-top: 15px; }

.spacer-lg {
  margin-top: 30px; }

/* Top Navigation */
#nav .navbar {
  min-height: 76px;
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.95; }

#nav .navbar-nav li a {
  transition: color 0.1s ease-in-out; }

#nav #logo {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px; }

#nav .navbar-brand {
  height: 76px;
  line-height: 46px; }

#nav .navbar-toggle {
  margin-top: 17px;
  margin-bottom: 17px; }

#nav .navbar-right li a {
  height: 76px;
  line-height: 46px; }

#nav li {
  font-family: "Chivo", Arial, sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

/* Coding Index */
#code .project-container {
  position: relative;
  width: 100%; }
  #code .project-container:hover .project-overlay {
    opacity: 0.9; }
  #code .project-container .project-overlay {
    position: absolute;
    opacity: 0;
    text-align: center;
    background: black;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity .25s ease-in-out; }
  #code .project-container .project-caption {
    color: white;
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-45%);
    padding: 10px 10px; }
  #code .project-container .project-name {
    font-size: 2em; }
  #code .project-container .project-tech {
    font-family: "Chivo", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px; }

#code img {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  z-index: -1; }

/* Individual Projects */
#project .project-item-header {
  font-family: "Chivo", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0; }

#project .project-blurb {
  color: #eee;
  background-color: #555;
  padding: 50px 0 30px 0; }
  #project .project-blurb h1 {
    color: #ff7a62; }
  #project .project-blurb .project-source {
    color: #9ddbe8; }
  #project .project-blurb .project-host {
    color: #e1b3f7; }
  #project .project-blurb .project-tech {
    color: #bdf397; }

#project p {
  margin-bottom: 20px;
  line-height: 1.5em; }

#project .project-details {
  color: #666;
  font-size: 0.9em; }
  #project .project-details .detail {
    border-top: 1px solid #ddd;
    padding: 45px 0;
    width: 100%; }
  #project .project-details img {
    width: 100%;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2); }
  #project .project-details .project-image-container {
    width: 100%;
    padding: 30px 30px;
    background-color: #f5f5f5; }
    @media screen and (max-width: 768px) {
      #project .project-details .project-image-container {
        padding: 0; } }
  #project .project-details ul {
    list-style-type: none;
    text-indent: -10px;
    padding: 0;
    margin: 20px 0; }
    #project .project-details ul li:before {
      content: "-";
      margin-right: 5px; }
    #project .project-details ul li {
      padding: 5px 0; }

#project .back-container {
  text-align: center; }

#project .technical ul {
  margin: 0; }

#project pre code {
  word-wrap: normal;
  white-space: pre; }
