body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li em {
  border: 1px solid #999;
  padding: 4px;
  margin: 2px;
  display: inline-block;
}

img {
  height: 400px;
  border: 1px solid #999;
}
