<h1>Projects</h1>

{{#each projects as |project|}}
  <div class="project">
    <div class="project-name">
      <a href="/projects/{{project.name}}">
         {{project.name}}
       </a>
    </div>

    <div class="project-domains">
      {{#each project.codepen as |codepen|}}
        <div class="project-domain">
          {{codepen}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}