<section class="row detail">
   <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
     <a href="https://s3.amazonaws.com/blackwright/portfolio/design/races/mightyman2015.jpg">
       <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/mightyman2015.jpg">
     </a>
   </div>
</section>

<section class="row detail">
   <div class="col-xs-offset-1 col-xs-10 col-sm-5 col-lg-offset-3 col-lg-3">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/mightyhamptons.jpg">
   </div>
   <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-lg-3 spacer-responsive">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/montaukpoint.jpg">
   </div>
</section>

<section class="row detail">
   <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/mightyman2014.jpg">
   </div>
</section>

<section class="row detail">
   <div class="col-xs-offset-1 col-xs-10 col-sm-5 col-lg-offset-3 col-lg-3">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/cowharbor.jpg">
   </div>
   <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-lg-3 spacer-responsive">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/tobay.jpg">
   </div>
</section>

<section class="row detail">
   <div class="col-xs-offset-1 col-xs-10 col-sm-5 col-lg-offset-3 col-lg-3">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/carlhart.jpg">
   </div>
   <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-lg-3 spacer-responsive">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/belmarfive.jpg">
   </div>
</section>

<section class="row detail">
   <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/massapequa.jpg">
   </div>
</section>

<section class="row detail">
   <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
      <img src="https://s3.amazonaws.com/blackwright/portfolio/design/races/portwashington.jpg">
   </div>
</section>
