extends layout

block content


	.body
		h2
			strong Facebook
		p I  tried to clone facebook under a prep-work on CSS,it wasnt so bad I promise.It helped to boost my confidence in CSS and taught me a lot of things using flexbox. I made use of #{project.technology}.