extends layout

block content
	h1= title

	.body
		h2 Music Player
		p I created this player as my final project under JavaScript to test my knowledge. I made use of #{project.technology}
		img(src="./public/images/screenshot(65).jpeg")