extends layout

block content


	.body
		h2 Roulette Game
		p Under JavaScript Basics,I created a roulette gaming using basic OOP.This project pushed my thinking ability and it helped build my confidence in JavaScript.I made use of #{project.technology}