<section class="detail technical">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-3 col-md-offset-2 col-md-2">
      <div class="project-item-header">Technical Notes</div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-3">
      <ul>
        <li>Technical item description</li>
        <li>Technical item description</li>
        <li>Technical item description</li>
      </ul>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-3">
      <ul>
        <li>Technical item description</li>
        <li>Technical item description</li>
        <li>Technical item description</li>
      </ul>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
      <img src="">
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Side Header</h4>
      <p>Descriptive text.</p>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <div class="project-image-container">
        <img src="">
      </div>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Side Header</h4>
      <ul>
        <li>Descriptive list item.</li>
        <li>Descriptive list item.</li>
        <li>Descriptive list item.</li>
      </ul>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <div class="project-image-container">
        <img src="">
      </div>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Side Header</h4>
      <p>Descriptive text.</p>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <pre class="language-ruby"><code class="language-ruby">
Code
      </code></pre>
    </div>
  </div>
  <div class="row spacer">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-6">
      <pre class="language-ruby"><code class="language-ruby">
Code
      </code></pre>
    </div>
  </div>
</section>
