<section class="detail technical">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-3 col-md-offset-2 col-md-2">
      <div class="project-item-header">Technical Notes</div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-3">
      <ul>
        <li>Postgresql database seeded with Faker gem.</li>
        <li>Posts, comments, and likes processed through AJAX request.</li>
        <li>Utilizes flash notices from native Rails and AJAX.</li>
        <li>Automatic welcome email delivered with Heroku Sendgrid.</li>
      </ul>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-3">
      <ul>
        <li>Image attachments with Paperclip gem, hosted on Amazon S3.</li>
        <li>User search handled through SQL query.</li>
        <li>Environmental variables imported through Figaro gem and secrets.</li>
        <li>SASS styling with Bootstrap components.</li>
      </ul>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
      <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/welcome.jpg">
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Prepopulated Account Logins</h4>
      <p>Works up through user20.</p>
      <pre><code>user1@email.com<br>password</code></pre>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <div class="project-image-container">
        <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/signup.jpg">
      </div>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Profile Information</h4>
      <p>Users can share personal details about themselves, such as contact and location info.</p>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <div class="project-image-container">
        <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/profile.jpg">
      </div>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Finding and Adding Friends</h4>
      <ul>
        <li>Friend requests can be sent to other users.</li>
        <li>Friends can be searched for by name.</li>
        <li>A friend request must be accepted in order to add a friend.</li>
      </ul>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <div class="project-image-container">
        <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/search.jpg">
      </div>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
      <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/friends.jpg">
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Posting and Commenting</h4>
      <ul>
        <li>Each user has a timeline for posting their thoughts.</li>
        <li>Users have a newsfeed showing all of their friends' recent posts.</li>
        <li>Posts can only be commented on by the author's friends.</li>
        <li>Posts and comments can be liked by all users and a running tally of likes is kept.</li>
        <li>Users can view their friends' recent posts through a newsfeed.</li>
      </ul>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <div class="project-image-container">
        <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/create-post.jpg">
      </div>
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
      <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/post-comment.jpg">
    </div>
  </div>
</section>

<section class="detail">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
      <h4>Photos</h4>
      <ul>
        <li>Photos can be added to a gallery through links or upload.</li>
        <li>Users can select an image to use as their profile or cover photo.</li>
        <li>Photos can only be commented on by the author's friends.</li>
      </ul>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
      <div class="project-image-container">
        <img src="https://raw.githubusercontent.com/blackwright/tracebook/master/screenshots/photos.jpg">
      </div>
    </div>
  </div>
</section>
