<section class="row detail technical">
  <div class="col-xs-offset-1 col-xs-10 col-sm-3 col-md-offset-2 col-md-2">
    <div class="project-item-header">Technical Notes</div>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-2 col-md-2">
    <ul>
      <li>API Request</li>
      <li>JavaScript ES6 Classes</li>
    </ul>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2 col-md-2">
    <ul>
      <li>JSON to JavaScript objects</li>
      <li>Handlebars Views and Partials</li>
    </ul>
  </div>
</section>

<section class="row detail">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
    <h4>User Input</h4>
    <p>Enter a zip code to list the state representatives and senators from that area.</p>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
    <div class="project-image-container">
      <img src="https://raw.githubusercontent.com/blackwright/project_what_have_you_done/master/screenshots/whyd1.jpg">
    </div>
  </div>
</section>

<section class="row detail">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
    <h4>API Request</h4>
    <p><a href="https://sunlightlabs.github.io/congress/">The Sunlight Congress API</a> offers a wealth of information about members of Congress, bills, vote history, and more. Data is returned in JSON format.</p>
    <p>The application parses this JSON response into Legislator objects, organizing them into House and Senate and displaying party affiliation.</p>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
    <div class="project-image-container">
      <img src="https://raw.githubusercontent.com/blackwright/project_what_have_you_done/master/screenshots/whyd2.jpg">
    </div>
  </div>
</section>

<section class="row detail">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-2">
    <h4>Individual Information</h4>
    <p>Each member of the House of Representatives and Senate is assigned a bioguide ID, which is used to generate the individual's photo URL.</p>
    <p>It is also possible to find an individual's voting record - the application lists recent bill votes, color coding them via CSS.</p>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-6">
    <div class="project-image-container">
      <img src="https://raw.githubusercontent.com/blackwright/project_what_have_you_done/master/screenshots/whyd3.jpg">
    </div>
  </div>
</section>
